name: tsin.is
description: Personal website of Roman Cinis

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Hagrid Text
      fonts:
        - asset: third-party/fonts/Hagrid/Hagrid-Text-Regular-trial.otf
    - family: Hagrid
      fonts:
        - asset: third-party/fonts/Hagrid/Hagrid-Regular-trial.otf